@import "../../../Global.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.inputContainer {
  width: 260px;
  height: 48px;
  background: $main-white;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: $placeholder-color;
  border: 2px solid transparent;
  outline: none;

  &::placeholder {
    color: $placeholder-color;
    font-size: 14px;
    font-weight: 600;
  }

  &:focus {
    border: 2px solid $primary-color;
  }

  &__isNegative {
    width: 260px;
    height: 48px;
    background: $main-white;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    color: $placeholder-color;
    border: 2px solid $invalid-color;

    &::placeholder {
      color: $placeholder-color;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.icon {
  position: absolute;
  top: 16px;
  right: 12px;

  &:hover {
    cursor: pointer;
  }
}

.labelError {
  position: absolute;
  transform: translate(4px, 52px);
  color: $invalid-color;
  font-size: 12px;
  font-weight: 600;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
