$primary-color: #0088c2;
$main-white: #f9f9f9;
$invalid-color: #ff5555;
$success-color: #268f3ff5;
$gray-color: #d9d9d9;
$placeholder-color: #4a4a4a;
$background-color: #212529;
$branckground-secondary-color: #1d2022;

body {
  background-color: $branckground-secondary-color;
}
